* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#grid {
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.square {
  border: solid 1px rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}

.square:hover {
  background-color: black;
}
